  @font-face {
    font-family: "komikax";
    src:url("../font/komikax.ttf");
  }
  * {
    margin: 0;
  }
  html {
    margin: 0;
    padding: 0;
    font-family: komikax, "Helvetica Neue", Roboto, Arial, sans-serif;
    font-size: 62.5%;
    color: white;
    background: linear-gradient(to bottom, #5754c7 0%,#66ffcc 100%);
  }
  body {
    font-size: 1.8rem;
  }
  h1, h2, h3 {
    font-weight: normal;
  }
  h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .footer-contents {
    position: relative;
    font-size:1.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:2rem;
    margin-bottom:1rem;
  }

  .website-nav {
    position:fixed;
    top:0;
    float:left;
    width: 100%;
    background:#1dd0c0 ;
  }
  .page-content {
    padding: 1rem 5rem;
    margin-top: 15rem;
  }

  .page-content p {
    margin-bottom: 1rem;
  }

  .website-nav p {
    padding: .8rem 0 .8rem 0;
    text-align:center;
    font-size:3rem;
    margin-top:0;
    margin-bottom:0;
    display: table-cell;
    vertical-align: middle;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .html-videoplayer {
    margin-top:12rem;
  }

  .html-videoplayer video {
    width:auto;
    height:80vh;
  }

  .game_logo {
    height: 5.5vw;
  }

  .ios_download_logo {
    margin-top:0;
    height: 5.5vw;
  }

  .link_style {
    color:#C0C0C0;
  }

  .link_underline {
    text-decoration:underline !important;
  }
  .privacy-content {
    font-size:2rem;
    font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
    text-align:justify;
  }
